 <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Bienvenue  Hospital</h1>
      <h2>Nous offrons des soins de qualite et humain dans un environnement confortable, propre et securise.</h2>
      <a href="#about" class="btn-get-started scrollto">Commencer</a>
    </div>
  </section>
   <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Pourquoi choisir HOSPITAL?</h3>
              <p>
                Les consultations avec nos medecins generalistes se font sans rendez-vous aux horaires d'ouverture.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Medecins specialises</h4>
                    <p>Les consultations avec nos medecins specialises se font sur rendez-vous directement en ligne, par email e info@hospital.com ou par telephone au +221 33 850 48 49.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Laboratoire moderne</h4>
                    <p>Notre laboratoire est equipe de machines de derniere generation. </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Examens medicaux</h4>
                    <p>Nous offrons tous types d'examens biologiques pour les patients malades, hospitalises ou admis en urgence.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .content-->
          </div>
        </div>

      </div>
    </section>
    <!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
   <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Notre mission</h3>
            <p>Nous avons cree la HOSPITAL dans le but de pouvoir fournir une medecine de qualite dans un environnement confortable, agreable et securise. Hospital est un systeme de gestion de
				Rendez-vous hospitalier et de suivi patient au Senegal pour la prise en charge globale des maladies liees au diabete et aux autres maladies des glandes endocrines.
				HOPSPITAL est egalement une excellente reference dans plusieurs specialites medicales, telles que :</p>
				<ul>
				<li>L ORL</li>
				</ul>
				<ul>
				<li>La medecine generale</li>
				</ul>
				<ul>
				<li>La pneumologie</li>
				</ul>
				<ul>
				<li>La Cardiologie</li>
				</ul>
				<ul>
				<li>La dietetiquee</li>
				</ul>
				<ul>
				<li>L osteopathie</li>
				</ul>
				<ul>
				<li>La psychiatrie</li>
				</ul>
				<ul>
				<li>La nephrologie</li>
				</ul>
            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Nos valeurs</a></h4>
              <p class="description">Offrir a nos patients une prise en charge de qualite nous est essentiel.  C est pourquoi nous sommes engages a garantir que les conditions de securite et de qualite des soins dispenses soient prises en compte a tous les niveaux afin de meriter, chaque jour davantage, votre confiance.</p>
            </div>
        </div>
 		</div>
      </div>
    </section>
    <!-- End About Section -->
<!-- ======= Departments Section ======= -->
   
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
         
        </div>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Localisation:</h4>
                <p>81 Sacre Coeur 3 VDN, BP
				5581 DK FANN, Dakar, Senegal</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>hospital@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Telephone:</h4>
                <p>33 876 67 54</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>



         
